@using ERP_Component_DAL.Models;
<link rel="stylesheet" href="~/css/Product.css">
@{
    ViewBag.Title = "Stock Transaction Report";
}
@model List<StocKRecords>



<style>
    .tab-buttons {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        /* background-color: #f8f9fa; */
        border-radius: 10px;
        margin: 20px auto;
        width: 90%;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); */
    }

    .tab-button {
        padding: 10px 20px;
        background-color: #023e8a;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .tab-button:hover {
            background-color: #0077b6;
            transform: scale(1.05);
        }

    .table-actions {
        display: flex;
        float: right;
        padding-right: 20px;
        gap: 10px;
        margin: 10px 30px;
    }

        .table-actions button{
            padding: 6px 16px;
            border: none;
            background-color: #023e8ac7;
            color: white;
            width: 80px;
            border-radius: 4px;
            cursor: pointer;
        }
</style>

<div id="product" class="container" style="display:block">

    <div class="form-section">
        <h3>Stock Register</h3>

  

        <div class="table-container">
            <div class="vendor-section" id="main" style="display: block; margin-top:40px">
                <table class="vendor-table">
                    <thead>
                        <tr>

                            <th>S.No.</th>
                            <th>Date</th>
                            <th>Item Name</th>
                            <th>Type</th>                       
                            <th>Quantity</th>  
                            <th>Perticular</th>
                           


                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var v = Model[i];

                            <tr data-id="@v.id">



                                <td>@(i + 1)</td>
                                <td>@v.transcationDate.ToShortDateString()</td>
                                <td>@v.ItemName</td>
                                <td>@v.Type</td>
                                <td>@v.Quantity</td>
                                <td>@v.Perticulars</td>
                             


                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>

    </div>
</div>


